[Unit]
Description=Canute Controller
After=multi-user.target

[Service]
User=pi
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/controller/controller.py

[Install]
WantedBy=multi-user.target